<% include header %>
    <h2>방명록 작성하기</h2>

<form method="post" action="add.do">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label for="writer">작성자</label>
        <input type="text" class="form-control" name="writer">
    </div>
    <div class="form-group">
        <label for="messages">메세지</label>
        <input type="text" class="form-control" name="messages">
    </div>
    <div class="form-group text-right">
        <button type="submit"class="btn btn-primary">등록</button>
    </div>
</form>

<% include footer %>