<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Todo 웹</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home.do">홈</a></li>
            <li><a href="/todo/home.do">Todo</a></li>
            <li><a href="/post/home.do">Posts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(logined) {%>
            <li><a href="/user/logout.do">로그아웃</a></li>
            <% } else {%>
            <li><a href="/user/register.do">회원가입</a></li>
            <li><a href="/user/login.do">로그인</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">