<% include ../common/header %>

<div class="row col-sm-6 col-sm-offset-3 well">


<form action="register.do" method="post">
    <h1>회원가입 폼</h1>
    <div class="form-group">
        <label for="username">이름</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="userphone">전화번호</label>
        <input type="text" class="form-control" name="userphone">
    </div>
    <div class="form-group">
        <label for="userid">아이디</label>
        <input type="text" class="form-control" name="userid">
    </div>
    <div class="form-group">
        <label for="userpwd">비밀번호</label>
        <input type="password" class="form-control" name="userpwd">
    </div>

    <div class="form-group text-right">
        <button class="btn btn-primary">가입</button>
    </div>

</form>
</div>
<% include ../common/footer %>